doctype html 
html 
    head 
        link(rel="stylesheet" href="style.css")
        style.
            body{
                background-color: #fff;
            }
            p{
                color:red;
            }
    body 
        - const pStyle = {"text-align" : "center", "text-transform": "uppercase"}
        p(style=pStyle) This is a html file!