doctype html 
html
    head 
    body 
        h1 Welcome to Pug Tutorial! 
        p.
            This is a paragraph tag
            and this is a new line
        ul
            li This is a item 1
            li This is a item 2
            li This is a item 3
