doctype html
html
    head    
    body 
        p.desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, itaque aut asperiores totam autem obcaecati adipisci labore aperiam tenetur animi! Ipsam consectetur, delectus consequatur sunt eaque nulla libero commodi animi.