doctype html 
html 
    head 
        title Case Statement in Pug
    body 
        - const orderStatus = "code1"

        case orderStatus 
            when "code1"
                p Lorem, ipsum dolor sit . Quae, veritatis.
            when "code2"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum.
            when "code3"
                p  amet consectetur adipisicing elit. Quae, veritatis.
            default 
                p Nothing!